/* COLORS

cyan light 		#4ccfc1
cyan medium 	#39c3b4
cyan dark 		#2da89b
cyan green 		#3cc395

gray 			#afafaf
gray light		#e1e1e1

white			#ffffff

*/

@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue-webfont.ttf) format("truetype");
}

@font-face {
    font-family: "MyriadPro";
    src: url(../fonts/MyriadPro-Regular.otf) format("truetype");
}

header, nav, footer, #content {
	width: 100%;
}

h1 {
	color: #ffffff;
	font-size: 60px;
	line-height: 54px;
	font-family: "BebasNeue", Verdana, Tahoma;
}

h2 {
	color: #ffffff;
	font-size: 31px;
	line-height: 25px;
	font-family: "BebasNeue", Verdana, Tahoma;
	font-weight: lighter;
	margin: 0;
}

h3 {
	color: #afafaf;
	font-family: "BebasNeue", Verdana, Tahoma;
	font-size: 27px;
	line-height: 25px;
	font-weight: lighter;
}

h4 {
	color: #ffffff;
	font-family: "BebasNeue", Verdana, Tahoma;
	font-size: 27px;
	line-height: 25px;
	font-weight: lighter;
	margin: 0;
}

p {
	color: #ffffff;
}

/* ------------------------------
    Header
------------------------------ */
header {
	padding-top: 20px;
}

#logo {
	margin: 1px 0 13px 23px;
	float:left;
}

#search-form {
	margin: 6px 0 0 170px;
	float:left;
}

.search-input {
	display: block;
	height: 29px;
	width: 400px;
	border: 1px solid #e1e1e1;
	border-right: none;
	margin-right: -5px;	
	float: left;
}

.btn-search {
	height: 33px;
	width: 38px;
	background: #ffffff url('../images/magnifier.png') no-repeat 7px 5px;
	border: 1px solid #e1e1e1;
	border-left: none;
	float: left;
}

#cart {
	color: #afafaf;
	font-size: 32px;
	line-height: 18px;
	font-weight: bold;
	font-family: "BebasNeue", Verdana, Tahoma;
	background: #ffffff url('../images/cart.png') no-repeat 1px 1px;
	float: right;
	margin-right: 20px;
	padding: 14px 0 10px 57px;
}

/* ------------------------------
    Navigation
------------------------------ */

nav {
	height: 35px;
	color: #ffffff;
	background: #4ccfc1;	
}

nav ul {
    margin: 0;
    padding: 9px 0 0 17px;
}

nav ul li {
    list-style: none;
    float: left;
}

nav a {
    color: #fff;
    font-size: 21px;
	line-height: 18px;
	font-family: "BebasNeue", Verdana, Tahoma;
    text-decoration: none;
    text-transform: uppercase;
}

nav span {
    margin: 0 15px;
    color: #fff;
    font-size: 21px;
	line-height: 18px;
	font-family: "BebasNeue", Verdana, Tahoma;
    text-transform: uppercase;
}

/* ------------------------------
    Slider
------------------------------ */

#featured {
	background: #39c3b4;
	padding: 60px 0 0 0;	
	/*height: 445;*/
}

.slider-img-wrapper {
	width: 450px;
	height: 350px;
	text-align: center;
	float: left;
}

.description {
	width: 400px;
	float: left;
	padding: 0 5px;	
}

.description h1 {
	font-weight: lighter;
	margin: 0;
	padding-top: 17px;
}

.description p {
	font-size: 18px;
	line-height: 28px;
	font-family: "MyriadPro", Verdana, Tahoma;
	margin-bottom: 36px;	
}

.btn-shop-large {
	color: #ffffff;
    font-size: 27px;
	line-height: 19px;
	font-family: "BebasNeue", Verdana, Tahoma;
	text-decoration: none;	
	border: 3px solid #ffffff;
	border-radius: 8px;
	padding: 5px 25px;
	margin-left: 4px;
}

#slider-buttons {
	margin: 0;
	padding: 60px 10px 41px 10px;
}

.slider-btn span {
	width: 9px;
	height: 9px;
	border-radius: 4px;
	background: #ffffff;
	margin-right: 12px;
	cursor: pointer;
	float: left;
}

.slider-btn.active, .slider-btn:hover {
	opacity: 0.4;
}

#content {
	padding-bottom: 20px;
}

/* ------------------------------
    Featured categories
------------------------------ */
#featured-categories {
	position: relative;
}

.carousel-btn {
	margin: 0;
}

.prev1 {
	position: absolute;
	width: 50px;
	height: 50px;
	border: none;
	border-left: 1px solid #afafaf;
	transform: rotate(30deg);
}

.prev2 {
	position: absolute;
	width: 50px;
	height: 50px;
	border: none;
	border-left: 1px solid #afafaf;
	transform: rotate(60deg);
}

.category {
	width: 340px;
	float: left;
	height: 190px;
	border-left: 1px solid	#e1e1e1;
}

.category h3{
	margin: 0 0 23px 0;
}

.category:first-child {
	border-left: none;	
}

.img-wrapper {
	width: 200px;
	height: 150px;
	text-align: center;		
	white-space: nowrap;	
	padding-top: 10px;
}

.category-img-wrapper {
	float: left;
}

.wrapper-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-wrapper img {
	vertical-align: middle;
	max-width: 170px;
	max-height: 150px;	
}

.title-btn {
	float: left;
	text-align: left;
	padding-top: 50px;
}

.btn-shop {
	height: 32px;
	color: #ffffff;
	background: #3cc395;
	font-family: "BebasNeue", Verdana, Tahoma;
	font-size: 19px;
	line-height: 19px;	
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	padding: 6px 15px;
}

/* ------------------------------
    Featured products
------------------------------ */
.featured-header {
	background: #39c3b4;
	padding: 23px 0 20px 115px;
}

.products-row {
	padding-top: 45px;
	padding-left: 60px;
}

.product {
	height: 260px;
	width: 255px;	
	border: 2px solid #e4e4e4;
	border-bottom: none;
	text-align: center;
	float: left;
	margin: 0 50px 50px 0;
	position: relative;
}

.product h3 {
	margin: 0 0 10px 0;
}

.product-price {
	color: #afafaf;
	font-family: "BebasNeue", Verdana, Tahoma;
	font-size: 27px;
	line-height: 25px;
	font-weight: lighter;	
}

.btn-buynow {
	display: inline-block;
	height: 32px;
	color: #ffffff;
	background: #3cc395;
	border: none;
	border-radius: 3px;
	text-align: center;
	font-family: "BebasNeue", Verdana, Tahoma;
	font-size: 19px;
	line-height: 19px;		
	padding: 5px 10px;				
	margin-left: 10px;
}

.product-bottom {
	display: block;
    position: absolute;
    width: 100%;
    border-bottom: 6px solid #3CC395;
    left: 0px;
    bottom: 0px;
}

/* ------------------------------
    Footer
------------------------------ */
#site-map {
	padding-top: 40px;
	padding-bottom: 30px;
	/*padding-right: 100px;*/
	/*padding: 40px 185px 30px 185px;*/
	background: #39c3b4;
}

.site-map-column {
	/*padding-left: 60px;*/
	width: 25%;
	float: left;
	box-sizing: border-box;
}

#site-map ul {
	margin: 0;
    padding: 10px 0;
    padding-left: 5px;
}

#site-map ul li {
    list-style: none;
    font-size: 15px;
	line-height: 28px;
	font-family: "MyriadPro", Verdana, Tahoma;	
}

#site-map a {
    color: #fff;
    text-decoration: none;
}

#site-map a:hover {    
    text-decoration: underline;
}

#copyright {
	background: #2da89b;
	text-align: center;
	padding: 5px 0 15px;
}

#copyright p {
	font-size: 15px;
	line-height: 28px;
	font-family: "MyriadPro", Verdana, Tahoma;	
	margin: 0;
}


/* ------------------------------
    Global
------------------------------ */
.group {
	width: 1024px;
	margin: 0 auto;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;        
}

.clearfix:after {
    clear: both;
}

/*

Order of properties? https://css-tricks.com/poll-results-how-do-you-order-your-css-properties/
Sublime ver?

*/